streamlit
spacy
sentence-transformers
pandas
pypdf2
python-docx
numpy
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
langchain-google-genai
